<ion-header>
  <ion-navbar>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bem Vindo ao meu App!</h2>
  <p>
    Esse app ainda esta em desenvolvimento......versao 1.0.1<br>
    Esse app Esta sendo desenvolvido por ,
    <Strong>Felipe Costa araujo</Strong>.....
  </p>
  <button full ion-button (click)="loginFacebook()" *ngIf="!FaceLogin">Login com Facebook</button>
  <ion-card *ngIf="FaceLogin">
      
      <img src="{{face.profilePicture}}"/>
      <ion-card-content>
        <ion-card-title>
            {{ face.name }}
          </ion-card-title>
          <p style="text-align: center">
              {{ face.email }}
            </p>
          <p >Ultimo login :{{face.lastSignInTime}}
            </p>
      </ion-card-content>
     
    </ion-card>
    
    <button ion-button round color="danger" (click)="logout()" *ngIf="FaceLogin"> logout</button>

</ion-content>



<!--
<button ion-button block (click)="facebookLogin()" >Login </button>
  <ion-card >
    <img src="{{loginData.profilePicture}}" />
    <ion-card-content>
      <ion-card-title>
        {{ face.name }}
      </ion-card-title>
      <p style="text-align: center">
        {{ loginData.email }}
      </p>
      
    </ion-card-content>
  </ion-card>
  <button ion-button block (click)="logout()" >Logout Facebook</button>
  <p >Ultimo login :{{face.lastSignInTime}}
  </p>
-->