page-filme-detalhes {
   
    .ion-logo-facebook:before {
        content: "\f236";
        color: blue;
    }
    .ion-logo-twitter:before {
        content: "\f2b0";
        color: #00BFFF;
    }
    .ion-logo-googleplus:before {
        content: "\f23b";
        color: red;
    }
    .ion-logo-vimeo:before {
        content: "\f2c4";
        color: #87CEFA;
    }
}
